.dev {
	text-align: center;
	color: red;
}
h2 {
	text-align: center;
	color: darkgreen;
}
h3 {
	text-align: center;
	color: rgb(29, 55, 205);
}
.box2 {
	text-align: center;
}
.home {
    text-align: center;
    position: relative;
	
    top: 5px;
    padding: 14px;
    margin: 17px;
    background-color: #7777;
    border: 20px solid #777;

}

.label {
    font-weight: bold;
    font-size: 31px;
    color: #0c0b0b;
}

#result {
    font-weight: bold;
    font-size: 31px;
    color: #680404;
}
#result2 {
    font-weight: bold;
    font-size: 31px;
    color: #460404;
}
#res3 {
    font-weight: bold;
    font-size: 31px;
    color: #460404;
}

hr {
    padding: 1px;
    background-color: rgb(255, 30, 154);
    width: 50%;
}
/*calc*/
body {

	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	/*background: url("https://images.pexels.com/photos/900106/pexels-photo-900106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	*/background-position: right;
	background-size: cover;
}
.main {
	width: 400px;
	height: 600px;
	position: absolute;
	top: 140%;
	left: 50%;
	background: #5c5859;
	padding: 0;
	border-radius: 20px;
	box-shadow: 0 5px 50px 0 rgba(0, 0, 0, .5);
	box-shadow: inset 0 -5px 10px 5px rgba(0, 0, 0, .5);
	transform: translate(-50%, -50%) scale(1);
   /* display: none;*/
}
.textview {
	width: 90%;
	height: 90px;
	position: absolute;
	right: 0;
	left: 0;
	margin: 24px auto 15px auto;
	font-size: 50px;
	text-align: right;
	font-family: 'Segment7Standard';
	font-family: 'Rubik', sans-serif;
	background: #cddecc;
	color: #6d756b;
	border: none;
	padding: 0 5px 0 0;
	border-radius: 15px;
	overflow-x: scroll;
	box-shadow: inset 0 -5px 10px 2px #6b756a,
				0 5px 10px 0px #3f423f;
/*	padding: 5px;*/
}
table {
	position: absolute;
	/*top: 0;
	right: 0;*/
	bottom: 0;
/*	left: 0;*/
/*	display: flex;
	justify-content: center;
	align-items: center;*/
	margin: 0 5px 23px 23px;
}
#clean {
	background: #ff1900;
	color: #fff;
	box-shadow: inset 0 5px 10px 0 #ff1900,
				inset 0 -5px 10px 3px #2d1f1fba,
				0 5px 10px 0px #1e211e;
}
#clean:active {
	box-shadow: inset 0 -5px 10px 0 #ff1900,
				inset 0 5px 10px 3px #2d1f1fba,
				0 0px 10px 0px #3f423f00;
}
#img {
	width: 80%;
	height: 80%;
	transform: scale(.9);
}
#plus,
#first {
	height: 164px;
}
#equal,
#second {
	width: 164px;
}
#second {
	background: #31e008;
	color:#fff;
	box-shadow: inset 0 5px 10px 0 #31e008, inset 0 -5px 10px 3px #2a5a22bf, 0 5px 10px 0px #1e211e;
}
#second:active {
	box-shadow: inset 0 -5px 10px 0 #31e008,
				inset 0 5px 10px 3px #2a5a22bf,
				0 0px 10px 0px #3f423f00;
}
.button {
	width: 76px;
	height: 76px;
	font-size: 50px;
	font-weight: 900;
	position: relative;
	left: 0;
	right: 0;
	margin: 4px;
	border: none;
	border-radius: 18px;
	font-family: 'Rubik', sans-serif;
	background: #f0eeef;
	color: #3b3b3c;
	box-shadow: inset 0 5px 10px 0 #fff,
				inset 0 -5px 10px 3px #847a7aba,
				0 5px 10px 0px #1e211e;
	display: flex;
	justify-content: center;
	align-items: center;

}
.main table tr td .button:active {
	box-shadow: inset 0 -5px 10px 0 #fff,
				inset 0 5px 10px 3px #847a7aba,
				0 0px 10px 0px #3f423f00;
}
.inner {
	height: 100%;
	width: 100%;
	position: relative;
	top: 0;
	bottom: 0;
	margin: auto 0 auto 0;
/*	background: green;*/
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-2.5px);
}
.main table tr td .button .inner:active {
	transform: translateY(2.5px) scale(.98);
}
#copy {
	position: fixed;
	bottom: 2.5px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto 2.5px auto;
	font-size: 20px;
	color: #fff;
	text-shadow: .5px .5px 5px #5c5859;
}
::selection {
	background: transparent;
	color: auto;
}

/*---------------------------------------
# Game
----------------------------------------*/
.game{
	width: 255px;
	text-align: center;
	font-family: system-ui;
	color: white;
	margin: auto;
	font-size: 28px;
	position: relative;
	top: 700px;
  }
  @media (max-width: 760px){
	.game{
	  width: 255px;
	  text-align: center;
	  font-family: system-ui;
	  color: white;
	  margin: auto;
	  font-size: 28px;
	  position: relative;
	  left: 0px;
	  top: 0;
  }
  }
  .titlegame{
	background: #149ddd;
	padding: 5px 0;
	margin: 5px 0;
	font-weight: 500px;
  }
  .titlegame span{
	color: #f25;
	font-weight: 500px;
  }
  .square{
	width: 70px;
	height: 70px;
	background: #149ddd;
	float: left;
	margin: 2px;
	font-size: 43px;
	position: relative;
	top: 0px;
	right: -4px;
	text-align: center;
	
  }
  .square:hover{
	background-color: red;
	cursor: pointer;
  }